<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://eegrtgiizwtjgwmnkryo.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlZ3J0Z2lpend0amd3bW5rcnlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU4MzQwNDEsImV4cCI6MjA3MTQxMDA0MX0.5rSvc8hhP_FDRRSkSTjADrKODDlfT_hyY-02hLl-17Q</string>
</dict>
</plist>